header {
    background: var(--color-primary-03);
    background: linear-gradient(0deg, var(--color-primary-03) 10%, var(--color-primary-02) 88%);
    color: white;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
}


.header-title {
    padding: 30px;
    font-family: var(--font-title);
    font-size: 1.7rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.521);
}

.header-subtitle {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.header-subtitle span {
    width: 400px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.705);
}

.header-nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0;
}

.header-nav-list {
    display: flex;
    gap: 20px;
}

.header-nav-item {
    list-style-type: none;
    padding: 15px;
}

.header-nav-item a{
    text-decoration: none;
    color: white;
    font-weight: 550;
    font-size: 0.9rem;
    padding: 10px;
    border-radius: 10px;
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.header-nav-item a:hover {
    color: var(--color-primary-03);
    background-color: var(--color-primary-02);
}